

.bg-purple {
    background-color: #581845 
}
.content-container{
    box-sizing: border-box;
}
.bg-blue {
    background-color: #b3c9ef; 
}
.text-blue{
   color:#3f67ad  ;
}
.text-decoration-dotted {
    text-decoration: underline;
    text-decoration-style: dotted;
}
.btn-custom:hover {
    background-color: rgb(70, 11, 97) !important; /* Change color on hover */
    transform: scale(1.05); /* Slightly increase size */
    transition: 0.3s ease-in-out; /* Smooth transition */
  }
          /* Orange text by default */
          .nav-pills .nav-link {
            color: rgb(230, 92, 37);
            font-weight: bold;
        }
        /* Gray when active */
        .nav-pills .nav-link.active {
            color: gray !important;
            background-color: transparent !important;
            border: none;
        }
        .color-text {
            font-weight: bold;
        }
        
        .color-text:nth-of-type(1) {
            color: red;
        }
        
        .color-text:nth-of-type(2) {
            color: green;
        }
        
        .color-text:nth-of-type(3) {
            color: blue;
        }
        .cyan {
            color: cyan;
        }
        
        .magenta {
            color: magenta;
        }
        
        .yellow {
            color: yellow;
        }
        
        @media (max-width: 576px) {
            body {
                font-size: 14px; /* General font size */
            }
        
            h4 {
                font-size: 18px;
            }
        
            p, label, span {
                font-size: 14px;
            }
        
            th, td {
                font-size: 13px !important;
            }
        
            .form-select, button {
                font-size: 14px;
            }
        
            footer p {
                font-size: 12px;
            }
        
           
            .navbar-nav .nav-link {
                font-size: 16px ;
                font-weight: 500;
            }
        }
        .navbar-nav .nav-link {
            
            font-size: 20px ;
            font-weight: 500;
        }
        
        .navbar-brand {
            font-size: 30px ;
            padding-left: 0;
        }
        
         