.bg-purple {
    background-color: #581845 
}
.content-container{
    box-sizing: border-box;
}
.bg-blue {
    background-color: #b3c9ef; 
}
.text-blue{
   color:#3f67ad  ;
}
.text-decoration-dotted {
    text-decoration: underline;
    text-decoration-style: dotted;
}
.btn-custom:hover {
    background-color: rgb(70, 11, 97) !important; /* Change color on hover */
    transform: scale(1.05); /* Slightly increase size */
    transition: 0.3s ease-in-out; /* Smooth transition */
  }
          /* Orange text by default */
          .nav-pills .nav-link {
            color: rgb(230, 92, 37);
            font-weight: bold;
        }
        /* Gray when active */
        .nav-pills .nav-link.active {
            color: gray !important;
            background-color: transparent !important;
            border: none;
        }
        .color-text {
            font-weight: bold;
        }
        
        #red-text {
            color: red;
        }
        
        #green-text {
            color: green;
        }
        
        #blue-text {
            color: blue;
        }
        